html {
    position: relative;
    min-height: 100%;
    text-align: center; /* Выравнивание по центру */
}

* {
@include box-sizing(border-box);
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: url(../../resources/img/back.jpg);
    font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    font-size: 14px;
    line-height: 1.4;
    padding: 20px;
}
#cin-title {
    color: wheat;
    font-size: 60px;
    text-shadow: 1px 3px 3px black;
}

.form-container {
    color: #ffffff;
    /* background: #7a330f; */
    width: 600px;
    opacity: 0.9;
    padding: 10px;
    margin: auto;
    background-color: #7a330f;
    box-shadow: 0 0 15px 10px #7a330f;
}

table {
    margin: auto; /* Выравниваем таблицу по центру окна  */
}

h1, h2, h3 {
    font-family: Sans-Serif;
}

body > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}



